/* media queries */
@media (max-width: 540px) {
  .title {
    font-size: 5.5rem;
  }
  .tap-btn {
    width: 14.5rem;
    height: 14.5rem;
  }
  .levels {
    font-size: 2.5rem;
  }
}

/* simple css */
body {
  background-color: #EFFFFD;
  font-family: 'DynaPuff', cursive;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
  color: #666666;
}
hr {
  border: 3px dashed #666666;
  border-top: none;
  width: 70%;
  text-align: center;
}

/* button */
.btn-class {
  width: fit-content;
}
.tap-btn {
  width: 7.5rem;
  height: 7.5rem;
  border: none;
  border-radius: 25%;
  box-shadow: 0 0 10px gray;
}
.btn-rule {
  color: green;
  background-color: #c2fff7;
  border: none;
  border: 2px solid lightgreen;
  box-shadow: 0 0 10px #82ffef;
  z-index: 2;
  left: 10%;
  top: 18px;
}
.rule-list {
  width: fit-content;
}

/* font-family edit */
.edit-font {
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
}

/* pressed-button jQuery */
.pressed {
  box-shadow: 0 0 10px green;
  box-shadow: inset 0 0 12px #404040;
  border: 1px solid #202020;
}

.wrongBtn {
  background-color: red;
}
